{
    "endpoint": "/api",
    "columns": [
        "severity",
        "status",
        "lastReceiveTime",
        "duplicateCount",
        "environment",
        "service",
        "resource",
        "event",
        "text"
    ]
}
